<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Education</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<style>
  body {
    font-size: 20pt;
  }
</style>

<body>
  <center>
    <h2>Education</h2>
    <img src="Images/Screenshot (251).png">
    <p> University of Debrecen Debrecen, Hungary
      B.Sc. Computer science Class of 2020</p>

    <p>Relevant coursework: Programming languages, Operating systems, Data Structures, and Algorithms,
      Web application development, Computer security, Applied mathematics</p>
    <p>Cambrian College Sudbury, Ontario:
      Certificate Course in Business Analytics Ongoing</p>
    <br>
    <a href="index.html"><button>Main</button></a>

  </center>

</body>

</html>