<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Experience</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<style>
  p {
    font-size: 20pt;
  }

  h2 {
    font-size: 20pt;
  }

  body {
    font-size: 15pt;
  }
</style>

<body>
  <center>
    <h2>Experience</h2>
  </center>
  <center><img src="static/images/Screenshot (250).png">
    <p> 1. CEU (Central European University) (5/2022 – 12/2022)</p>
    <center>
      <p>Technical assistant Budapest, Hungary</p>
    </center>
    • Fixing bugs and issues which may occur during classes
    • Daily system checks to ensure 100% functionalities of the systems
    • Ensuring tests and exams be conducted properly with no technical difficulties
    • Ensure all teaching software’s properly tested and reviewed before every class
    • Assisting any professors or students who may need any technical assistance

    <p>2. Exit The Room (10/2021 - 4/2022)</p>
    <center>
      <p>Game Analyst Budapest, Hungary</p>
    </center>
    • Analysis of online games which are being played
    • Fixed bugs and issues which may occur during games.
    <p>3. Central Bank of Nigeria (07/2018 – 10/2018)</p>
    <center>
      <p>Intern Abuja/Nigeria</p>
    </center>
    • Provided Assistance to the director of the Research department.
    • Help assist them in carrying out their day-to-day activities if need be.
    • Worked with supervisors to assess the probability and impact of a security breach and developed
    plans to mitigate such risks.
    • Conducted troubleshooting of computer systems as required.
    • Acted as a backup for customer service
    <script src="script.js"></script>
    <p><a href="index.html"><button>Main</button></a></p>
  </center>

  <!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->
</body>

</html>