<!DOCTYPE html>
<html>
<!-- Heading of my web page -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <!-- title of my webpage -->
  <title id="title">Peniel Enoch David Oputa</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <!-- styling the table in the web page -->
  <style>
    body {
      background-color: skyblue;
      font-size: 15pt;
    }

    b {
      font-size: 1cm;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>
<!-- Body of my web page -->

<body>
  <center>
    <h2>Welcome to my Website </h2>
    <img src="Images/image2.jfif" width="100%">
    <b>Peniel Enoch David Oputa</b>
    <br>
    <!-- This is my first comment -->
    <img src="Images/Image.jpeg">
    <p>Highly skilled and experienced computer science professional with a Bachelor's degree in Computer Science and
      five years of experience in software development, network administration, database management, etc. Proficient in
      Python, R, C, HTML/CSS, etc. Strong analytical and problem-solving skills, with the ability to work independently
      or as part of a team. Passionate about staying up-to-date with the latest industry trends and advancements and
      committed to delivering high-quality results.

    </p>
    <br>
    <a href="lic.html"><button>Licenses & Certiication</button></a>
    <a href="exp.html"><button>Experience</button></a>
    <a href="edu.html"><button>Education</button></a>
    <a href="skills.html"><button>Skills</button></a>
    <br>

    <P><img src="https://static.licdn.com/sc/h/akt4ae504epesldzj74dzred8"></P>
    <br>
    <a href="https://www.linkedin.com/in/peniel-oputa-a23462106">Vist my Profile</a>
    <br>
    <a href="PDF/Peniel Enoch Oputa CV Customer S.pdf">Resume 1</a>
    <a href="PDF/Peniel Enoch Oputa CV Data Entry.pdf">Resume 2</a>
    <!-- Table of my web page -->
    <table>
      <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
      </tr>
      <tr>
        <td>Ernst Handel</td>
        <td>Roland Mendel</td>
        <td>Austria</td>
      </tr>
      <tr>
        <td>Island Trading</td>
        <td>Helen Bennett</td>
        <td>UK</td>
      </tr>
      <tr>
        <td>Laughing Bacchus Winecellars</td>
        <td>Yoshi Tannamuri</td>
        <td>Canada</td>
      </tr>
      <tr>
        <td>Magazzini Alimentari Riuniti</td>
        <td>Giovanni Rovelli</td>
        <td>Italy</td>
      </tr>
    </table>

  </center>
  <script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>
</body>

</html>